<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^home$ media.php?module=home [L]
RewriteRule ^semua-arsip\.html$ media.php?module=home [L]
RewriteRule ^galeri-(.*)\.html$ zoom.php?id=$1 [L]
RewriteRule ^rekam-nomorarsip\.html$ media.php?module=rekamnoarsip [L]
RewriteRule ^referensi-gudang$ media.php?module=referensigudang [L]
RewriteRule ^referensi-rak$ media.php?module=referensirak [L]
RewriteRule ^referensi-baris$ media.php?module=referensibaris [L]
RewriteRule ^referensi-box$ media.php?module=referensibox [L]
RewriteRule ^rekonsiliasi$ media.php?module=rekonsiliasi [L]
RewriteRule ^insert-arsip\.html$ media.php?module=insertarsip [L]
RewriteRule ^insert-arsip-2$ media.php?module=insertarsip2 [L]
RewriteRule ^search-arsip\.html$ media.php?module=searcharsip [L]
RewriteRule ^load-ke-tabel-arsip\.html$ media.php?module=loadketabelarsip [L]
RewriteRule ^tandaterima-skpp\.html$ media.php?module=tandaterimaskpp [L]
RewriteRule ^proses-skpp\.html$ media.php?module=prosesskpp [L]
RewriteRule ^proses-skppn\.html$ media.php?module=prosesskppn [L]
RewriteRule ^pengembalian-skpp-gpp\.html$ media.php?module=pengembalianskppgpp [L]
RewriteRule ^pengembalian-skpp-non-gpp\.html$ media.php?module=pengembalianskppnongpp [L]
RewriteRule ^proses-kasi-skpp-gpp\.html$ media.php?module=proseskasiskppgpp [L]
RewriteRule ^proses-kasi-skpp-nongpp\.html$ media.php?module=proseskasiskppnongpp [L]
RewriteRule ^proses-split-skpp-gpp\.html$ media.php?module=prosessplitskppgpp [L]
RewriteRule ^proses-split-skpp-non-gpp\.html$ media.php?module=prosessplitskppnongpp [L]
RewriteRule ^monitoring-1-jam-sp2d\.html$ media.php?module=monitoring1jamsp2d [L]
RewriteRule ^konfirmasi-penerimaan\.html$ media.php?module=konfirmasipenerimaan [L]
RewriteRule ^monitoring-skpp\.html$ media.php?module=monitoringskpp [L]
RewriteRule ^terima-surat-masuk\.html$ media.php?module=terimasuratmasuk [L]
RewriteRule ^terima-surat-masuk-manual\.html$ media.php?module=terimasuratmasukmanual [L]
RewriteRule ^cetak-disposisi\.html$ media.php?module=cetakdisposisi [L]
RewriteRule ^disposisi-pejabat\.html$ media.php?module=disposisiPejabat [L]
RewriteRule ^terima-proses-surat-masuk\.html$ media.php?module=terimaprosessuratmasuk [L]
RewriteRule ^pengantar-surat-masuk$ media.php?module=pengantarsuratmasuk [L]
RewriteRule ^monitoring-surat-masuk\.html$ media.php?module=monitoringsuratmasuk [L]
RewriteRule ^search-surat-masuk\.html$ media.php?module=searchsuratmasuk [L]
RewriteRule ^monitoring-proses-spm$ media.php?module=f_status_spm [L]
RewriteRule ^surat-tanggapan\.html$ media.php?module=surattanggapan [L]
RewriteRule ^surat-keluar\.html$ media.php?module=suratkeluar [L]
RewriteRule ^surat-keluar-manual\.html$ media.php?module=suratkeluarmanual [L]
RewriteRule ^search-surat-keluar\.html$ media.php?module=searchsuratkeluar [L]
RewriteRule ^rekam-news-ticker\.html$ media.php?module=rekamnewsticker [L]
RewriteRule ^upload-logo\.html$ media.php?module=uploadlogo [L]
RewriteRule ^referensi-kppn$ media.php?module=referensikppn [L]
RewriteRule ^referensi-pejabat$ media.php?module=referensipejabat [L]
RewriteRule ^keluar$ media.php?module=keluar [L]
RewriteRule ^starting-(.*)\.html$ media.php?module=autoreply [L]

Options All -Indexes
</IfModule>
